html {
  background-color: #ff8b94;
  display: block;
  max-width: 900px;
  margin: auto;
  font-family:'Lato', sans-serif;
}
body {
    background-color: #f78891;
}
header {
    background-color: #a8e6cf;
    color: #313131;
    text-align: center;
    padding: 1%;
}
#intructionsP {
    background-color: #dcedc1;
    text-align: justify;
    font-size: 18px;
    padding: 1%;
}


#pairBox { /* this umbrellas randomNumbox and scorebox*/
    margin-bottom: 5%;
    max-width: 400px;
}
#randomNumBox { /*game generated number box*/
    background-color: #ffd3b6;
    font-size: 240%;
    text-align: center;
}
#scoreBox { /*win/lose score box*/
    background-color: #ffaaa5;
}

.pictures {
    display: inline;
}

#pairtotalscoreBox{
    max-width: 400px;
}
h4 { /*"Your total score is: displayed */
    background-color: #a8e6cf;
}
#totalScoreBox { /*added score from the player.*/
    background-color: #a8e6cf;
    padding: 1%;
    font-size: 230%;
}